@font-face {
  font-family: 'Montserrat';
  src: url('Montserrat-Thin.ttf');
  font-weight: 100;
}

@font-face {
  font-family: 'Montserrat';
  src: url('Montserrat-ExtraLight.ttf');
  font-weight: 200;
}

@font-face {
  font-family: 'Montserrat';
  src: url('Montserrat-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Montserrat';
  src: url('Montserrat-Regular.ttf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('Montserrat-Medium.ttf');
  font-style: medium;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('Montserrat-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Montserrat';
  src: url('Montserrat-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Montserrat';
  src: url('Montserrat-ExtraBold.ttf');
  font-weight: 800;
}

@font-face {
  font-family: 'Montserrat';
  src: url('Montserrat-Black.ttf');
  font-weight: 900;
}

/* italic */

@font-face {
  font-family: 'Montserrat';
  src: url('Montserrat-ThinItalic.ttf');
  font-style: italic;
  font-weight: 100;
}

@font-face {
  font-family: 'Montserrat';
  src: url('Montserrat-ExtraLightItalic.ttf');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('Montserrat-LightItalic.ttf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('Montserrat-MediumItalic.ttf');
  font-style: italic;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('Montserrat-SemiBoldItalic.ttf');
  font-style: italic;
  font-weight: 800;
}

@font-face {
  font-family: 'Montserrat';
  src: url('Montserrat-BoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('Montserrat-ExtraBoldItalic.ttf');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('Montserrat-BlackItalic.ttf');
  font-weight: bolder;
  font-style: italic;
}
